@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@plugin "daisyui";  

/* ------------------------- custom colors ---------------------------------- */
@theme {
    --color-brand-orange: #FD6F2F;
    --color-brand-blue: #9ECCFA;
    --color-brand-darkGreen : #1F526B;
}

.bg-brand-ornage{
    background-color: var(--color-brand-orange);
} 
.bg-brand-blue{
    background-color: var(--color-brand-blue);
}
.bg-brand-darkGreen{
    background-color: var(--color-brand-darkGreen);
}
/* ------------------------------------------------------------------------- */